@model AgricolaData.ViewModel.ItemTarifaNavieraViewModel
@{
    ViewBag.Title = "Registrar Tarifa Naviera";
}

@using (Html.BeginForm("Registrar", "TarifaNaviera", FormMethod.Post, new { @class = "" }))
{
    <div class="ui row">
        <div class="ui six wide column" , style="text-align: left;">
            <div class="ui menu">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="ui raised segment form">
                <div class="ui segment">
                    @*<h3 class="ui header">Datos del Banco</h3>*@
                    <div class="tree fields">
                        <div class="field">
                            @Html.LabelFor(model => model.IdShippingLine)
                            @Html.DropDownList("IdShippingLine", null, new { @class = "ui search dropdown" })
                            @Html.ValidationMessageFor(model => model.IdShippingLine)
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.IdPort)
                            @Html.DropDownList("IdPort", null, new { @class = "ui search dropdown" })
                            @Html.ValidationMessageFor(model => model.IdPort)
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.Q1)
                            @Html.TextBoxFor(model => model.Q1)
                            @Html.ValidationMessageFor(model => model.Q1)
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.Q2)
                            @Html.TextBoxFor(model => model.Q2)
                            @Html.ValidationMessageFor(model => model.Q2)
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.Q3)
                            @Html.TextBoxFor(model => model.Q3)
                            @Html.ValidationMessageFor(model => model.Q3)
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.Q4)
                            @Html.TextBoxFor(model => model.Q4)
                            @Html.ValidationMessageFor(model => model.Q4)
                        </div>
                    </div>
                </div>
            </div>
            @Html.ActionLink("Regresar", "Listar", "TarifaNaviera", null, new { @class = "ui button" })
            <button type="submit" class="ui primary icon button">
                <i class="save icon"></i> Guardar
            </button>
        </div>




    </div>



}