@model FDLDATA.ViewModel.ListarArchivoTrackingViewModel

@using System.Data;
@{
    ViewBag.Title = "Cargar Archivo Notice of Loading";
}

@using (Html.BeginForm("Registrar", "ArchivoTracking", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="ui row">
        <div class="ui eleven wide column" , style="text-align: left;">
            <div class="ui menu">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="ui raised segment form">
                <div class="ui segment">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <input type="file" id="dataFile" name="upload" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="ui raised segments">
                <div class="ui bottom attached raised segment">
                    <table class="ui small selectable celled table center aligned datatable">
                        <thead>
                            <tr class="centered">

                                <th>@Html.DisplayNameFor(model => model.Filas[0].NumFila)</th>
                                <th>@Html.DisplayNameFor(model => model.Filas[0].Detalle)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Filas)
                            {
                                <tr class="centered">

                                    <td>@item.NumFila</td>
                                    <td>@item.Detalle</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





}
